body{
	background-image: url('https://cdn.hipwallpaper.com/i/47/74/4HbCd9.jpg');
}
h1{
	text-align: center;
	color:  white;
}
table{
	background: #632207;
	border-color: white;
	margin: auto;
	color: white;
	text-align: center;
}
