body{
	background-image: url('https://wallpaperstock.net/wallpapers/thumbs1/44309wide.jpg');
}
h1{
	text-align: center;
	color:  white;
}
table{
	background: #632207;
	border-color: white;
	margin: auto;
	color: white;
	text-align: center;
}
